.text-inputs input {
		background-image: none;
padding: .4em;
margin: 25px 0 20px 0;
margin-top: 20px;
line-height: 1.4;
font-size: 16px;
display: block;
width: 100%;
outline: 0;
}	
.header {
	position: relative;
border-left-width: 0;
border-right-width: 0;
zoom: 1;
background-color:;
}
	.ui-btn-up-a {
		border: 1px solid #9c3122;
background: #ed1c24;
font-weight: bold;
color: #ffffff;
text-shadow: 0 1px 0 #444444;
background-image: -webkit-gradient(linear,left top,left bottom,from( #da4733 ),to( #bb3c2b ));
background-image: -webkit-linear-gradient( #da4733,#bb3c2b );
background-image: -moz-linear-gradient( #da4733,#bb3c2b );
background-image: -ms-linear-gradient( #da4733,#bb3c2b );
background-image: -o-linear-gradient( #da4733,#bb3c2b );
background-image: linear-gradient( #da4733,#bb3c2b );
}
.ui-btn-hover-a {
	border: 1px solid #9c3122;
background: #FF2029;
font-weight: bold;
color: #ffffff;
text-shadow: 0 1px 0 #444444;
background-image: -webkit-gradient(linear,left top,left bottom,from( #e64b36 ),to( #f84f38 ));
background-image: -webkit-linear-gradient( #e64b36,#f84f38 );
background-image: -moz-linear-gradient( #e64b36,#f84f38 );
background-image: -ms-linear-gradient( #e64b36,#f84f38 );
background-image: -o-linear-gradient( #e64b36,#f84f38 );
background-image: linear-gradient( #e64b36,#f84f38 );
}
.ui-btn-up-h {
		border: 1px solid #116212;
background: #ed1c24;
font-weight: bold;
color: #ffffff;
text-decoration:none;
text-shadow: 0 1px 0 #444444;
background-image: -webkit-gradient(linear,left top,left bottom,from( #159118 ),to( #1fb523 ));
background-image: -webkit-linear-gradient( #159118,#1fb523 );
background-image: -moz-linear-gradient( #159118,#1fb523 );
background-image: -ms-linear-gradient( #159118,#1fb523 );
background-image: -o-linear-gradient( #159118,#1fb523 );
background-image: linear-gradient( #159118,#1fb523 );
}
.ui-btn-hover-h {
	border: 1px solid #116212;
background: #FF2029;
font-weight: bold;
color: #ffffff;
text-decoration:none;
text-shadow: 0 1px 0 #444444;
background-image: -webkit-gradient(linear,left top,left bottom,from( #29c52d ),to( #34d738 ));
background-image: -webkit-linear-gradient( #29c52d,#34d738 );
background-image: -moz-linear-gradient( #29c52d,#34d738 );
background-image: -ms-linear-gradient( #29c52d,#34d738 );
background-image: -o-linear-gradient( #29c52d,#34d738 );
background-image: linear-gradient( #29c52d,#34d738 );
}
.logo_container {
	width: 100%;
	min-width: 100%;
	height:auto;
	position:fixed;
	background-color:#F7F7F7;
	z-index: 9999;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
	
}
.ui-select .ui-btn select{
font-size: 50px;
}

.logo {
	margin: 0 auto;
	width: 260px;
}
.info {
	width: 100%;
	text-align:center;
	padding-top: 80px;
	
}
.info td a:link {
	text-decoration:none;
}
.phone {
   font-size:24px;	
}
.photo {
	float:left;
	
}
.contact {
	float: left;
}
.bold {
	font-size: 22px;
	font-weight: bold;
}
table td {
	padding: 8px;
}
#footer {
	background-color:#006175;
}
#footer p {
	padding: 3px 10px 5px 10px;
	color: #fff;
	font-size:80%;
	text-shadow:none;
}
.legal {
	text-align:justify;
}
#footer a:link {
	color:#6DA79B;
}
	body {
	margin-bottom: 0px;
}
